<h1>Skierformular</h1>
<form class="ui large form" #myForm="ngForm"
  (ngSubmit)="submitForm()">

  <div class="field">
    <label>Vorname</label>
    <input
      name="firstName"
      [(ngModel)]="skier.firstName"
      required>
    <div *ngIf="errors.firstName" class="ui negative message">
      {{ errors.firstName }}
    </div>
  </div>

  <div class="field">
    <label>Nachname</label>
    <input
      name="lastName"
      [(ngModel)]="skier.lastName"
      required>
    <div *ngIf="errors.lastName" class="ui negative message">
      {{ errors.lastName }}
    </div>
  </div>

  <div class="field">
    <label>Geburtsdatum</label>
    <input
      type="date"
      name="year"
      [(ngModel)]="skier.dateOfBirth"
      useValueAsDate
      required>
    <div *ngIf="errors.year" class="ui negative message">
      {{ errors.year }}
    </div>
  </div>

  <div class="field">
    <label>Nationalität</label>
    <select name="country" [(ngModel)]="skier.country.foreignKey">
      <option value="" disabled>Nationalität auswählen</option>
      <option *ngFor="let country of countries" [ngValue]="country.id">{{country.name}}</option>
   </select>
    <!--<input
      name="country"
      [(ngModel)]="skier.country.reference"
      required>-->
    <div *ngIf="errors.country" class="ui negative message">
      {{ errors.country }}
    </div>
  </div>

<!--<p>skier countr: {{skier.country.reference.name}}</p>-->

  <div class="field">
    <label>Bild</label>
    <input
      name="image"
      [(ngModel)]="skier.imageUrl"
      required>
    <div *ngIf="errors.image" class="ui negative message">
      {{ errors.image }}
    </div>
  </div>

  <div class="field">
    <label>Geschlecht</label>
    <select name="sex" [(ngModel)]="skier.sex.foreignKey">
      <option [ngValue]="skier.sex.foreignKey" disabled>Geschlecht auswählen</option>
      <option *ngFor="let sex of sexes" [ngValue]="sex.id">{{sex.label}}</option>
   </select>
   <div *ngIf="errors.sex" class="ui negative message">
    {{ errors.sex }}
  </div>
    <!--<input
      name="sex"
      [(ngModel)]="skier.sex"
      required>
    <div *ngIf="errors.id" class="ui negative message">
      {{ errors.id }}
    </div>-->
  </div>

  <button type="submit" class="ui button" [disabled]="myForm.invalid">Speichern</button>
</form>
