<div class="row">
  <div class="col-md-5">
    <div class="row">
      <mat-card class="race-filter-container">
        <mat-card-title>{{ 'overview.raceTypesHeader' | translate }}</mat-card-title>
        <mat-card-content>
          <spinner *ngIf="raceTypesLoading"></spinner>
          <mat-selection-list #raceTypes *ngFor="let currentRaceType of raceTypes">
            <mat-list-option (click)="onRaceTypeClicked(currentRaceType)">{{ currentRaceType.label }}</mat-list-option>
          </mat-selection-list>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="row mt-2">
      <mat-card class="race-filter-container">
        <mat-card-title>{{ 'overview.seasonsHeader' | translate }}</mat-card-title>
        <mat-card-content>
          <spinner *ngIf="seasonsLoading"></spinner>
          <mat-selection-list #seasons *ngFor="let currentSeason of seasons">
            <mat-list-option (click)="onSeasonClicked(currentSeason)">{{ currentSeason.name }}</mat-list-option>
          </mat-selection-list>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  
  <div class="col-md-7">
    <mat-card>
      <mat-card-title>{{ 'overview.racesHeader' | translate }}</mat-card-title>
      <mat-card-content>
        <spinner *ngIf="racesLoading"></spinner>
        <mat-selection-list #races *ngFor="let currentRace of races">
          <mat-list-item (click)="onRaceClicked(currentRace)">
            <div matLine class="d-flex justify-content-between">
              <div class="d-flex justify-content-start align-self-center race-item-header">
                <h5 class="race-item-venue-name unselectable-item" [class.disabledListItem]="currentRace.overallRaceState.reference.id === 4">{{ currentRace.venue.reference.name }}</h5>
                <record-icon *ngIf="currentRace.overallRaceState.reference.id === 3"></record-icon>
              </div>
              <mat-chip-list>
                <mat-chip>{{ currentRace.raceType.reference.label }}</mat-chip>
              </mat-chip-list>
            </div>
            <div matLine class="d-flex justify-content-between mt-2">
              <span class="unselectable-item" [class.disabledListItem]="currentRace.overallRaceState.reference.id === 4">{{ currentRace.season.reference.name }}</span>
              <span class="unselectable-item" [class.disabledListItem]="currentRace.overallRaceState.reference.id === 4">{{ currentRace.date | date:'dd.MM.yyyy' }}</span>
            </div>
          </mat-list-item>
        </mat-selection-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>