<h1 mat-dialog-title *ngIf="inCreateMode">{{ 'skier-detail-dialog.createSkierHeader' | translate }}</h1>
<h1 mat-dialog-title *ngIf="!inCreateMode">{{ 'skier-detail-dialog.editSkierHeader' | translate }}</h1>

<div mat-dialog-content *ngIf="loadingSexes || loadingCountries || uploading">
    <spinner></spinner>
</div>
<form [formGroup]="skierForm" mat-dialog-content *ngIf="!loadingSexes && !loadingCountries && !uploading">
    <div class="form-row dialog-form-field-container">
        <div class="col">
            <label for="lastName">{{ 'skier-detail-dialog.skierLastNameLabel' | translate }}</label>
            <input formControlName="lastName" class="form-control" [class.is-invalid]="lastName.hasError('required')" name="lastName">
            <p class="errorText" *ngIf="lastName.hasError('required')">
                {{ 'skier-detail-dialog.notFilledErrorMessage' | translate }}
            </p>
        </div>
        <div class="col">
            <label for="firstName">{{ 'skier-detail-dialog.skierFirstNameLabel' | translate }}</label>
            <input formControlName="firstName" class="form-control" [class.is-invalid]="firstName.hasError('required')" name="firstName">
            <p class="errorText" *ngIf="firstName.hasError('required')">
                {{ 'skier-detail-dialog.notFilledErrorMessage' | translate }}
            </p>
        </div>
    </div>
    <div class="form-row dialog-form-field-container">
        <div class="col">
            <label for="imageUrl">{{ 'skier-detail-dialog.skierImageUrlLabel' | translate }}</label>
            <input formControlName="imageUrl" class="form-control" [class.is-invalid]="imageUrl.hasError('url')" [placeholder]="generateUniqueImageUrl()" name="imageUrl">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="row dialog-ff-split-left-element">
                <label for="sexSelect">{{ 'skier-detail-dialog.sexSelectionLabel' | translate }}</label>
                <select formControlName="sex" name="sexSelect" class="form-control" [class.is-invalid]="sex.hasError('required')">
                    <option *ngFor="let currentSex of sexes" [value]="currentSex.label">{{ currentSex.label }}</option>
                </select>
                <p class="errorText" *ngIf="sex.hasError('required')">
                    {{ 'skier-detail-dialog.notFilledErrorMessage' | translate }}
                </p>
            </div>
            <div class="row dialog-ff-split-left-element">
                <label for="countrySelect">{{ 'skier-detail-dialog.countrySelectionLabel' | translate }}</label>
                <select formControlName="country" name="countrySelect" class="form-control" [class.is-invalid]="country.hasError('required')">
                    <option *ngFor="let currentCountry of countries" [value]="currentCountry.name">{{ currentCountry.name }}</option>
                </select>
                <p class="errorText" *ngIf="country.hasError('required')">
                    {{ 'skier-detail-dialog.notFilledErrorMessage' | translate }}
                </p>
            </div>
        </div>
        <div class="col dialog-ff-split-right-element">
            <mat-form-field class="dialog-ff-row-filled" floatLabel="always">
                <label for="dateOfBirth">{{ 'skier-detail-dialog.dateOfBirthLabel' | translate }}</label>
                <input matInput [matDatepicker]="birthdatePicker" formControlName="dateOfBirth" name="dateOfBirth" [errorStateMatcher]="errorStateMatcher">
                <mat-datepicker-toggle matSuffix [for]="birthdatePicker"></mat-datepicker-toggle>
                <mat-datepicker #birthdatePicker></mat-datepicker>
            </mat-form-field>
            <p class="errorText" *ngIf="dateOfBirth.hasError('required')">
                {{ 'skier-detail-dialog.notFilledErrorMessage' | translate }}
            </p>
        </div>
    </div>
    <mat-error *ngIf="imageUrl.hasError('url')">{{ 'skier-detail-dialog.imageUrlIsNotValidErrorMessage' | translate }}</mat-error>
    <mat-error *ngIf="uploadError && uploadError.length > 0">{{ uploadError }}</mat-error>
</form>

<div mat-dialog-actions class="d-flex justify-content-around">
    <button mat-raised-button class="dialog-button" (click)="abortDialog($event)">{{ 'skier-detail-dialog.abortDialogButtonLabel' | translate }}</button>
    <button mat-raised-button class="dialog-button" *ngIf="inCreateMode" (click)="createSkier($event)" cdkFocusInitial>{{ 'skier-detail-dialog.createSkierButtonLabel' | translate }}</button>
    <button mat-raised-button class="dialog-button" *ngIf="!inCreateMode" (click)="editSkier($event)" cdkFocusInitial>{{ 'skier-detail-dialog.editSkierButtonLabel' | translate }}</button>
</div>