<h1>Skierformular</h1>
<form class="ui large form" [formGroup]="skierForm"
  (ngSubmit)="submitForm()">

  <div class="field">
    <label>Vorname</label>
    <input
    formControlName="firstName"
      [(ngModel)]="skier.firstName"
      [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">
    <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
      <div *ngIf="f.firstName.errors.required">Vorname ist erforderlich</div>
    </div>
  </div>

  <div class="field">
    <label>Nachname</label>
    <input
    formControlName="lastName"
      [(ngModel)]="skier.lastName"
      [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }">
    <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
      <div *ngIf="f.lastName.errors.required">Nachname ist erforderlich</div>
    </div>
  </div>

  <div class="field">
    <label>Geburtsdatum</label>
    <input
      type="date"
      formControlName="year"
      [(ngModel)]="skier.dateOfBirth"
      useValueAsDate
      [ngClass]="{ 'is-invalid': submitted && f.year.errors }">
    <div *ngIf="submitted && f.year.errors" class="invalid-feedback">
      <div *ngIf="f.year.errors.required">Geburtsdatum ist erforderlich</div>
    </div>
  </div>

  <div class="field">
    <label>Nationalität</label>
    <select formControlName="country"
        [(ngModel)]="skier.country.foreignKey"
        [ngClass]="{ 'is-invalid': submitted && f.country.errors }">
      <option value="" disabled>Nationalität wählen...</option>
      <option *ngFor="let country of countries" [ngValue]="country.id" (change)="changeCountry($event)">{{country.name}}</option>
   </select>
    <div *ngIf="submitted && f.country?.errors" class="invalid-feedback">
      <div *ngIf="f.country.errors.required">Nationalität ist erfordeerlich</div>
    </div>
  </div>

  <div class="field">
    <label>Geschlecht</label>
    <select formControlName="sex"
        [(ngModel)]="skier.sex.foreignKey"
        [ngClass]="{ 'is-invalid': submitted && f.sex.errors }">
      <option value="" disabled>Geschlecht wählen...</option>
      <option *ngFor="let sex of sexes" [ngValue]="sex.id" (change)="changeSex($event)">{{sex.label}}</option>
   </select>
    <div *ngIf="submitted && f.sex?.errors" class="invalid-feedback">
      <div *ngIf="f.sex.errors.required">Geschlecht ist erfordeerlich</div>
    </div>
  </div>

<!--<p>skier countr: {{skier.country.reference.name}}</p>-->

  <div class="field">
    <label>Bild</label>
    <input
    formControlName="image"
      [(ngModel)]="skier.imageUrl"
      [ngClass]="{ 'is-invalid': submitted && f.title.errors }">
    <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
      <div *ngIf="f.title.errors.required">Title is required</div>
    </div>
  </div>

  <button type="submit" class="ui button" >Speichern</button>
</form>
