<h1>Skierformular</h1>
<form class="ui large form" #myForm="ngForm"
  (ngSubmit)="submitForm()">

  <div class="field">
    <label>Vorname</label>
    <input
      name="firstName"
      [(ngModel)]="skier.firstName"
      required>
    <div *ngIf="errors.firstName" class="ui negative message">
      {{ errors.title }}
    </div>
  </div>

  <div class="field">
    <label>Nachname</label>
    <input
      name="lastName"
      [(ngModel)]="skier.lastName"
      required>
    <div *ngIf="errors.lastName" class="ui negative message">
      {{ errors.author }}
    </div>
  </div>

  <div class="field">
    <label>Geburtsdatum</label>
    <input
      type="date"
      name="year"
      [(ngModel)]="skier.dateOfBirth"
      useValueAsDate
      required>
    <div *ngIf="errors.year" class="ui negative message">
      {{ errors.year }}
    </div>
  </div>

  <div class="field">
    <label>Nationalität</label>
    <select name="country" [(ngModel)]="skier.country.reference">
      <option value="" disabled>Nationalität auswählen</option>
      <option *ngFor="let country of countries" [ngValue]="country">{{country.name}}</option>
   </select>
    <!--<input
      name="country"
      [(ngModel)]="skier.country.reference"
      required>-->
    <div *ngIf="errors.country" class="ui negative message">
      {{ errors.publisher }}
    </div>
  </div>

<!--<p>skier countr: {{skier.country.reference.name}}</p>-->

  <div class="field">
    <label>Bild</label>
    <input
      name="prize"
      [(ngModel)]="skier.imageUrl"
      required>
    <div *ngIf="errors.prize" class="ui negative message">
      {{ errors.prize }}
    </div>
  </div>

  <div class="field">
    <label>Geschlecht</label>
    <select name="sex" [(ngModel)]="skier.sex.reference">
      <option value="" disabled>Geschlecht auswählen</option>
      <option *ngFor="let sex of sexes" [ngValue]="sex">{{sex.label}}</option>
   </select>
    <!--<input
      name="sex"
      [(ngModel)]="skier.sex"
      required>
    <div *ngIf="errors.id" class="ui negative message">
      {{ errors.id }}
    </div>-->
  </div>

  <button type="submit" class="ui button" [disabled]="myForm.invalid">Speichern</button>
</form>
