
<!--<label>Search: <input #box (keyup)="onEnter(box.value)"></label>-->
<div class="ui center aligned segment">
  <h1> Skier </h1>
<div class="ui left icon input">
  <input #box (keyup)="onEnter(box.value)"  type="text" placeholder="Search skiers...">
  <i class="users icon"></i>
</div>
<a routerLink="admin" routerLinkActive="active" class ="item">Admin</a>
</div>

<!--<div class="ui middle aligned selection divided list">
  <a class="app-skier-list-item item"
      *ngFor="let skier of foundSkiers"
      [skier]="skier"
      [routerLink]="skier.id">
  </a>
</div>-->
<!--<div class="ui cards">
  <div class="app-skier-list-item ui card"
      *ngFor="let skier of foundSkiers"
      [skier]="skier"
      [routerLink]="skier.id">
  </div>
</div>-->
<div class="ui segment">
<table class="ui striped selectable table">
  <thead>
  <tr>
    <td>Bild</td>
    <td>Vorname</td>
    <td>Nachname</td>
    <td>Geburtsdatum</td>
    <td>Herkunft</td>
    <td>Geschlecht</td>
    <td *ngIf="auth.loggedIn">Edit</td>
  </tr>
</thead>
<tr *ngFor="let skier of foundSkiers">
  <td><img class="ui tiny image"[src]="skier.imageUrl"></td>
  <td>{{skier.firstName}}</td>
  <td>{{skier.lastName}}</td>
  <td>{{getDate(skier).toDateString()}}</td>
  <td>{{skier.country.reference.name}}</td>
  <td>{{skier.sex.reference.label}}</td>
  <td *ngIf="auth.loggedIn"><i style="cursor: pointer" [routerLink]="['/../adminR', skier?.id]" class="edit icon"></i></td>
</tr>
</table>
</div>
