<h4>{{ 'rank-list.header' | translate }}</h4>
<spinner *ngIf="rankedSkiersLoading"></spinner>
<div class="table-responsive" *ngIf="!rankedSkiersLoading && !raceLoading">
    <table class="table table-dark">
        <thead>
            <tr class="dflex">
                <th scope="col" rowspan="2" class="text-center-vertically">{{ 'rank-list.ranks.rankHeader' | translate}}</th>
                <th scope="col" rowspan="2" class="text-center-vertically">{{ 'rank-list.ranks.lastNameHeader' | translate }}</th>
                <th scope="col" rowspan="2" class="text-center-vertically">{{ 'rank-list.ranks.firstNameHeader' | translate }}</th>
                <th scope="col" rowspan="2" class="text-center-vertically">{{ 'rank-list.ranks.startPositionHeader' | translate }}</th>
                <th scope="col" rowspan="2" class="text-center-vertically">{{ 'rank-list.ranks.countryHeader' | translate }}</th>
                <th scope="col" [attr.colspan]="race.numberOfSensors" class="text-center">{{ 'rank-list.ranks.firstRunTimeHeader' | translate }}</th>
                <th scope="col" [attr.colspan]="race.numberOfSensors" class="text-center">{{ 'rank-list.ranks.secondRunTimeHeader' | translate }}</th>
                <th scope="col" rowspan="2" class="text-center-vertically">{{ 'rank-list.ranks.totalTimeHeader' | translate }}</th>
            </tr>
            <tr>
                <th scope="col" class="text-center" *ngFor="let sensorId of generateSequence(race.numberOfSensors)">{{ 'rank-list.ranks.interimTimeFormat' | translate:{ sensorId: sensorId } }}</th>
                <th scope="col" class="text-center" *ngFor="let sensorId of generateSequence(race.numberOfSensors)">{{ 'rank-list.ranks.interimTimeFormat' | translate:{ sensorId: sensorId } }}</th>
            </tr>
        </thead>
        <tbody *ngFor="let currentRankedSkier of rankedSkiers">
            <tr>
                <td rowspan="2" class="text-center-vertically">{{ currentRankedSkier.rank }}</td>
                <td rowspan="2" class="text-center-vertically">{{ currentRankedSkier.lastName }}</td>
                <td rowspan="2" class="text-center-vertically">{{ currentRankedSkier.firstName }}</td>
                <td rowspan="2" class="text-center-vertically">n/a</td>
                <td rowspan="2" class="text-center-vertically">{{ currentRankedSkier.country.reference.name }}</td>

                <td [attr.colspan]="race.numberOfSensors" class="text-center faster-time" *ngIf="currentRankedSkier.elapsedTimeInFirstRunString.charAt(0) === '-'">{{ currentRankedSkier.elapsedTimeInFirstRunString }}</td>
                <td [attr.colspan]="race.numberOfSensors" class="text-center slower-time" *ngIf="currentRankedSkier.elapsedTimeInFirstRunString.charAt(0) === '+'">{{ currentRankedSkier.elapsedTimeInFirstRunString }}</td>
                <td [attr.colspan]="race.numberOfSensors" class="text-center" *ngIf="currentRankedSkier.elapsedTimeInFirstRunString.charAt(0) !== '-' && currentRankedSkier.elapsedTimeInFirstRunString.charAt(0) !== '+'">{{ currentRankedSkier.elapsedTimeInFirstRunString }}</td>
                
                <td [attr.colspan]="race.numberOfSensors" class="text-center faster-time" *ngIf="currentRankedSkier.elapsedTimeInSecondRunString.charAt(0) === '-'">{{ currentRankedSkier.elapsedTimeInSecondRunString }}</td>
                <td [attr.colspan]="race.numberOfSensors" class="text-center slower-time" *ngIf="currentRankedSkier.elapsedTimeInSecondRunString.charAt(0) === '+'">{{ currentRankedSkier.elapsedTimeInSecondRunString }}</td>
                <td [attr.colspan]="race.numberOfSensors" class="text-center" *ngIf="currentRankedSkier.elapsedTimeInSecondRunString.charAt(0) !== '-' && currentRankedSkier.elapsedTimeInSecondRunString.charAt(0) !== '+'">{{ currentRankedSkier.elapsedTimeInSecondRunString }}</td>
                
                <td rowspan="2" class="text-center-vertically">{{ currentRankedSkier.elapsedTotalTimeString }}</td>
            </tr>
            <tr>
                <ng-container *ngFor="let currentMeasurementString of currentRankedSkier.elapsedMeasurementStringsInFirstRun">
                    <td class="text-center" class="text-center faster-time" *ngIf="currentMeasurementString.charAt(0) === '-'">{{ currentMeasurementString }}</td>
                    <td class="text-center" class="text-center slower-time" *ngIf="currentMeasurementString.charAt(0) === '+'">{{ currentMeasurementString }}</td>
                    <td class="text-center" class="text-center" *ngIf="currentMeasurementString.charAt(0) !== '-' && currentMeasurementString.charAt(0) !== '+'">{{ currentMeasurementString }}</td>
                </ng-container>

                <ng-container *ngFor="let currentMeasurementString of currentRankedSkier.elapsedMeasurementStringsInSecondRun">
                    <td class="text-center" class="text-center faster-time" *ngIf="currentMeasurementString.charAt(0) === '-'">{{ currentMeasurementString }}</td>
                    <td class="text-center" class="text-center slower-time" *ngIf="currentMeasurementString.charAt(0) === '+'">{{ currentMeasurementString }}</td>
                    <td class="text-center" class="text-center" *ngIf="currentMeasurementString.charAt(0) !== '-' && currentMeasurementString.charAt(0) !== '+'">{{ currentMeasurementString }}</td>
                </ng-container>
            </tr>
        </tbody>
    </table>
</div>