<header>
  <!--<div class="ui three item tabs menu" *ngIf="auth.loggedIn">
    <a routerLink="profile" *ngIf="auth.loggedIn" class="item">Profile</a>
    <a routerLink="home"  routerLinkActive="active" class="item">Home</a>
    <a (click)="auth.login()" *ngIf="!auth.loggedIn" class="item">Log In</a>
    <a (click)="auth.logout()" *ngIf="auth.loggedIn" class="item">Log Out</a>
  </div>

  <div class="ui two item tabs menu" *ngIf="!auth.loggedIn">
    <a routerLink="profile" *ngIf="auth.loggedIn" class="item">Profile</a>
    <a routerLink="home"  routerLinkActive="active" class="item">Home</a>
    <a (click)="auth.login()" *ngIf="!auth.loggedIn" class="item">Log In</a>
    <a (click)="auth.logout()" *ngIf="auth.loggedIn" class="item">Log Out</a>
  </div>-->

  <div class="ui pointing menu">
    <a routerLink="home"  routerLinkActive="active" class="item">Home</a>
    <a routerLink="seasons" routerLinkActive="active" class ="item">Seasons</a>
    <a routerLink="skier" routerLinkActive="active" class ="item">Skier</a>
    <a routerLink="admin" *ngIf="auth.loggedIn" routerLinkActive="active" class ="item">Admin</a>
    <div class="right menu">
        <div *ngIf="auth.loggedIn"  class="item">
          <p *ngIf="auth.userProfile$ | async as profile">
            Logged in as {{profile.name}}
          </p>
        </div>
        <a (click)="auth.login()" *ngIf="!auth.loggedIn" class="item">Log In</a>
        <a (click)="auth.logout()" *ngIf="auth.loggedIn" class="item">Log Out</a>
    </div>
  </div>
</header>
